@media(max-width:991px) {
/*header-section*/
    .upper-header .logo {
        text-align: right;
    } 
    .social{
        display: none;
    }


    
/*****************************
***header-down**********
***************************/
    
    .down-header {
    padding: 100px 0;
}

.header-title {
    width: 90%;
}

.header-title h2 {
    font-size: 28px;
    color: #000;
    padding-bottom: 25px;
    font-weight: bold;
}

.header-title p {
    font-size: 16px;
    color: #313841;
}


.header-body ul li i {
    margin: 10px 10px;
    font-size: 32px;
}
    .carousel-indicators{
    padding-top: 100px;
    top:100;
}

/*****************************
***header-down**********
***************************/
   .tinyone-features-section{
    padding: 75px 0 100px 0;
}
.tinyone-title {
    width: 90%;
    padding: 30px 0;
}

.tinyone-title h2 {
    font-size: 28px;
}

.tinyone-title p {
    font-size: 16px;
    
}

.tinyone-features {}

.tinyone-features .box {
    padding: 20px 15px;
    margin-left: px;
}

.tinyone-features .box h2 {
    color: #010101;
    font-size: 20px;
}

.tinyone-features .box p {
    color: #898989;
    font-size: 16px;
}




.mobile-img {
    margin: 0 auto;
    text-align: center;
}

.mobile-img img {
    max-width: 100%;
}
 
}
@media(max-width:768px){
    /****************************************
 ***** footer-section ************
 ******************************************/

.footer-section{
    background: #010101;
    padding-bottom: 40px 0px 135px 0px;
}
.comment-section{
     width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.comment-dis {
    padding: 40px 0;
    text-align: center;
}

.comment-dis h2 {
    color: #fcdb00;
    font-size: 18px;
    font-weight: bold;
}

.comment-dis p {
    color: #898989;
    font-size: 16px;
}

.commnet-submit {
    
    width: 100%;
}
.commnet-submit form{
    display: flex;
    justify-content: space-between;
}

.commnet-submit input[type="text"] {
    border: 0px;
    width: 65%;
    height: 50px;
    border-radius: 10px;
    padding-left:25px;
}
.commnet-submit input[type="text"]::placeholder{

}
.commnet-submit input[type="submit"] {
    border: 0px;
    width: 30%;
    border-radius: 10px;
    height: 50px;
    background: #fbdb00;
}
.footer-bottom{
    padding: 75px 0;
}
.col-lg-3 li{
    color: #fff;
    font-size: 16px;
}
 .links{
    display: flex;
    justify-content: space-between;;
 }   
    .link{
        width: 50%;
    }
}